.examination {
  padding: 80px 10%;
  text-align: center;
}

.examination h2 {
  font-size: 35px;
  margin-bottom: 35px;
}

.examination-card {
  max-width: 650px;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background: #111827;
  border: 1px solid #374151;
}

.examination-card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.examination-card p {
  margin-bottom: 20px;
}